<!--
We hereby attest to the truth of the following facts:

We have not discussed the HTML/CSS/Bootstrap/Python/Django language code in our program with anyone other than our instructor or the teaching assistants assigned to this course.

We have not used HTML/CSS/Bootstrap/Python/Django language code obtained from another student, or any other unauthorized source, either modified or unmodified

If any HTML/CSS/Bootstrap/Python/Django language code or docomentation used in our program was obtained from another source, such as a textbook or course notes, that has been clearly noted with a proper citation in the comments of our program.

Bootstrap. (n.d.). Navbar. Bootstrap. https://getbootstrap.com/docs/5.0/components/navbar/.
Bootstrap. (n.d.). Select. Bootstrap. https://getbootstrap.com/docs/5.0/forms/select/.
Bootstrap. (n.d.). Spacing. Bootstrap. https://getbootstrap.com/docs/5.0/utilities/spacing/.
Chapagain, S. (2023, July 6). How to Use a Foreign Key to Create Many-to-One Relationships in Django. Free Code Camp. https://www.freecodecamp.org/news/what-is-one-to-many-relationship-in-django/
Django. (n.d.). Many-to-one relationships. Django. https://docs.djangoproject.com/en/5.0/topics/db/examples/many_to_one/
pcoronel. (2014, May 19). Restrict django FloatField to 2 decimal places. Stack Overflow. https://stackoverflow.com/questions/23739030/restrict-django-floatfield-to-2-decimal-places.
W3Schools. (n.d.). CSS3 Borders. W3Schools. https://www.w3schools.com/css/css3_borders.asp.
W3Schools. (n.d.). CSS3 Images. W3Schools. https://www.w3schools.com/css/css3_images.asp.
W3Schools. (n.d.). CSS3 Shadows. W3Schools. https://www.w3schools.com/css/css3_shadows.asp.
W3Schools. (n.d.). CSS3 Text Justify. W3Schools. https://www.w3schools.com/cssref/css3_pr_text-justify.php.
W3Schools. (n.d.). CSS Text Spacing. W3Schools. https://www.w3schools.com/css/css_text_spacing.asp.
W3Schools. (n.d.). HTML <input> placeholder Attribute. W3Schools. https://www.w3schools.com/tags/att_input_placeholder.asp.
yuvi. (2013, October 28). django difference between - one to one, many to one and many to many. Stack Overflow. https://stackoverflow.com/questions/19641841/django-difference-between-one-to-one-many-to-one-and-many-to-many
-->

{% extends 'main/base.html' %}
{% load static %}

{% block title %}Add Ticket{% endblock %}

{% block content %}

<div class="container my-1" style="width:40%; ">
    <div class="rounded-4 pt-1 p-3 shadow-sm bg-white bg-gradient" >
        <h3 class="text-left mt-3" style="font-weight: bold;">Add Ticket</h3> <hr class="mb-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form method="POST" action="{% url 'add_ticket' %}">{% csrf_token %}
                  <div class="form-row">
                    <label for="id_number">Employee</label>
                    <select class="form-control" id="id_number">
                      {% for employee in employees %}
                        <option value="{{employee.pk}}"> {{employee.seniority}}: {{employee.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <hr>
                  <div class="form-row">
                    <label for="ticketType">Reason for ticket</label>
                    <select id="ticketType" class="form-control">
                      <option value="Issue">I would like to report an issue and have it resolved.
                      </option>
                      <option value="Request">I would like to request a service.</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-row">
                    <label for="filedAgainst">Nature of concern</label>
                    <select id="filedAgainst" class="form-control">
                      <option value="System">System</option>
                      <option value="Access/Login">Access/Login</option>
                      <option value="Software">Software</option>
                      <option value="Hardware">Hardware</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-row">
                    <label for="severity">Severity of the issue</label>
                    <select id="severity" class="form-control">
                      <option value="Critical">This has a large-scale impact financially on many users/departments. There is no workaround possible.
                      </option>
                      <option value="Major">This significantly affects some users or departments but a temporary resolution is possible.</option>
                      <option value="Normal">This is affecting daily business operations, but a workable solution is available.</option>
                      <option value="Minor">This is a standard service request.</option>
                      <option value="Minor">This is significantly affecting my own daily operations.</option>
                      <option value="Unclassified">Unsure</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-row">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="daysOpen">Days Open</label>
                      <input type="number" id="daysOpen" class="form-control" />
                      
                  </div>
                  </div>
                  <br>
                  <br>
                    <button type="submit" class="btn btn-dark">Add Ticket</button>
                    <a href="{% url 'view_all_tickets' %}"class="btn btn-outline-secondary" style="border-color: gray"> Back</a> 
                </form>
                <br>
            </div>
        </div>
    </div>
    
</div> <br><br> 

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" style="width:30%; margin: auto; text-align: center;" >{{ message }}</div>   
{% endfor %}
{% endif %}

{% endblock %}